@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cache Poisoning Lab App!</h1>
    <p>This is a simple ASP.NET Core application.</p>
    <p>Visit <a href="/poisoned-content">/poisoned-content</a> to see the dynamic content.</p>
</div>