@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Cache Poisoning Lab App!</h1>
    <p>This is a simple ASP.NET Core application.</p>
    <p>Visit <a href="/long-header-content">/long-header-content</a> ve dinamicamente tu entrada para la cabecera</p>
    <p>Visit <a href="/metacaracter-header">/metacaracter-header</a> para ver la cabecera con el metaracter</p>
    <p>Visit <a href="/override">/override</a> para ver el cambio de metodo con la cabecera</p>
</div>